<h1>The word <%= @word %> appears <%= @result %> time<%= @plural %></h1>
<form action='/form'>
<button type="submit" class="btn btn-primary">That was mildly interesting. Do it again!</button>
</form>
